@import "compass";
@import "mixins";

@font-face {
   font-family: 'Open Sans';
   src: url(http://fonts.googleapis.com/css?family=Open+Sans);
}

.aui {
   background-color: #DDD;

   body {
      background-color: #DDD;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-size: 14px;

      a {
         &:hover {
            text-decoration: none;   
         }
      }

      .btn.btn-primary {
         background-color: #E73420;
         border-color: #E73420;
         
         &:hover, &:active {
            background-color: #E73420;
         }
      }

      .portlet-boundary.portlet-boundary_145_.portlet-static.portlet-static-end.portlet-dockbar {
         margin-left: auto;
         margin-right: auto;
         max-width: 920px;
      }

      .navbar.navbar-static-top.dockbar {
         margin-right: 0;
         
         li { 
            a {
               background-color: #E73420;
               border: #181818 solid 1px;
               color: #FFF;
               margin: 0 5px 0 5px;
               padding: 5px 8px 5px 8px; 

               &:hover {
                  background-color: #ED6A5D;
               }  
            }
         }

         .icon-caret-down {
            color: #E73420;
         }
         
         .navbar-inner {
            background-color: #DDD;
            background-image: none;
            color: #181818;
            height: 30px;
            margin: 30px 0 -10px 0;
            max-width: 920px;
            min-height: 0;
            padding: 0;

            .container {
               a.dropdown-toggle { 
                  visibility: hidden;     
               }
               
               &:hover {
                  a.dropdown-toggle {
                     visibility: visible;
                     
                     div.collapse.nav-collapse {
                        visibility: visible;
                     }
                  }
               }
               
               .collapse.nav-collapse {
                  .nav.nav-account-controls {
                     a {
                        background-color: #DDD;
                        border: none;
                        color: #181818;
                        
                        &:hover {
                           background-color: #E73420; 
                           span {
                              color: #FFF;
                           }  
                           
                           .icon-caret-down {
                              color: #FFF;
                           }
                        }
                     }
                     
                     li.open {
                        a {
                           background-color: #E73420;
                           
                           .icon-caret-down {
                              color: #FFF;
                           }
                        }
                        
                        ul.dropdown-menu li a {
                           background-color: #FFF;
                           
                           &:hover {
                              background-color: #E73420;
                              background-image: none;
                              
                              i {
                                 color: #FFF;
                              }
                           }
                        }

                        i {
                           color: #E73420;
                        }
                     }
                     
                     .divider-vertical {
                        display: none;
                     }
                  }

                  .nav.nav-add-controls {
                     float: right;
                     margin-right: 0;
                     
                     li {
                        &:first-child a {
                           background-color: #E73420;
                           color: #FFF;
                           padding-left: 10px;
                           padding-right: 10px;
                        }

                        a {
                           background-color: #E73420;
                           margin-right: 0;
                           
                           &:hover {
                              background-color: #EB5647;
                           }
                           
                           i {
                              color: #FFF;
                           }
                        }
                     } 

                     span {
                        display: none;
                     } 
                  }
               } 
            }
         }
      }

      #banner {
         background-color: #181818;
         color: #FFF;
         height: 112px;
         letter-spacing: 1px;
         margin: 40px auto 107px;
         max-width: 920px;
         
         .site-title {
            a {
               float: left;
               margin-left: 15px;
               margin-top: 30px;
            }
            
            .site-name {
               float: left; 
               font-weight: 400; 
               margin: 36px 20px 0 10px;
            }
         } 

         .page-title {
            background: url(../images/bestResponsiveImg.jpg) no-repeat center center;   
            font-size: 0px;
            height: 400px;
            max-width: 920px;
            position: relative;
            top: 219px;
         }

         .sort-pages.modify-pages {
            span.delete-tab {
               display: none;
            }

            ul {
               left: 190px;
               position: relative;
               top: -410px;

               li.selected {
                  color: #FFF;
                  background-color: #E73420; 
                  
                  a span {
                     color: #FFF;
                  }
               }

               li {
                  display: inline;
                  float: left;
                  line-height: 32px;
                  margin-top: 40px;

                  &:hover {
                     color: #FFF;

                     ul.child-menu {
                        color: #FFF;
                        opacity: 1;
                        z-index: 3;
                     } 

                     a {
                        span {
                           color: #FFF; 
                        }  
                     }
                  }

                  a {
                     color: #DDD;
                     font-weight: 400;
                     line-height: 32px;
                     padding-left: 15px;
                     padding-right: 15px;
                  }

                  ul.child-menu {
                     margin: -50px 0 -20px 0px;
                     min-width: 180px;
                     opacity: 0;
                     position: absolute;
                     white-space: nowrap;
                     z-index: -1;

                     li {
                        color: white;
                        display: block;
                        height: 20px;
                        list-style-type: none;
                        margin-bottom: -10px;
                        position: relative;
                        right: 190px;
                        top: 490px;
                        z-index: 3;

                        &:first-child {
                           margin-bottom: -40px;
                           margin-top: 20px;
                           padding: 10px;
                           position: relative;
                           right: 200px;
                           top: 470px;
                           
                           a {
                              border-top: none;
                           }
                        }

                        a {
                           background-color: #E73420;
                           border-top: rgb(191,38,21) solid 1px;
                           color: #FFF;
                           display: inline-block;
                           float: left;
                           font-size: 13px; 
                           font-weight: 400;
                           height: 32px;
                           margin-bottom: -40px;
                           min-width: 180px;
                           padding: 10px;
                           text-align: left;

                           &:hover {
                              background-color: rgb(191,38,21); 
                              color: #FFF;
                           }
                        }
                     }
                  }
               }
            }
         }
         
         a#sign-in {
            color: #FFF;
            float: right;
            font-weight: 500;
            left: -15px;
            position: relative;
            top: -364px;

            &:hover {
               color: #EB5647;
            }
         }
      }
      
      #wrapper {
         background-color: #DDD;
         padding-top: 0;

         #content {
            background-color: #DDD;
            margin-left: auto;
            margin-right: auto;
            max-width: 920px;

            nav#breadcrumbs {
               height: 0;

               ul.breadcrumb {
                  background-color: #FFF;
                  bottom: 77px;   
                  height: 47px;
                  margin: 0 auto;
                  padding: 0;
                  position: relative;
                  text-align: center;

                  li {
                     margin-top: 12px;

                     span {
                        color: #2A002A;
                        font-size: 26px;   
                     }

                     a {
                        color: #1E1E1E;
                        font-size: 26px;   
                        font-weight: 300;
                        text-align: center;
                     }   
                  }
               }
            }

            #main-content {
               background-color: #FFF;
               margin-top: 430px;
               position: relative;

               div.portlet-layout.row-fluid {
                  div div.btn-group.lfr-icon-menu.portlet-options i {
                     color: #E73420;
                  }  

                  .portlet {
                     border-bottom: 1px solid #DDD;
                     margin: 20px;

                     .portlet-topper {
                        .portlet-title {
                           span {
                              margin-left: 10px;   
                           }

                           .portlet-title-text {
                              color: #181818; 
                              font-size: 21px;
                              margin-left: 10px; 
                           }  
                        }
                     }
                     .portlet-content {
                        .portlet-body {
                           color: #666666;
                           font-weight: 400;
                           line-height: 25.2px;  
                        }
                     }

                     .icon-cog {
                        color: #E73420;  
                     }

                     .caret {
                        display: none;
                     }
                  }

                  .portlet-column.portlet-column-first {
                     float: left;
                     height: 100%;
                     margin-left: auto;
                     margin-right: auto;
                     min-height: 374px;   
                     width: 66%;
                  } 

                  .portlet-column.portlet-column-last {
                     background-color: #F9F9F9;
                     border-left: 1px solid #DDD;
                     float: right;
                     height: 100%;
                     margin-left: auto;
                     margin-right: auto;
                     min-height: 374px;
                     width: 34%;
                  }
               }
            }
         }

         footer {
            background-color: #181818;
            height: 100px;
            margin: 30px auto;
            max-width: 920px;

            p.powered-by {
               color: #FFF;
               font-size: 14px;
               font-weight: 400;
               padding: 40px;

               a {
                  color: #E73420;
                  &:hover {
                     color: #FFF;   
                  }   
               }
            }
         }
      }

      .lfr-add-panel.lfr-admin-panel {
         a {
            color:  #181818;
            font-weight: 400;  
         }

         ul.nav-pills {
            .active {
               a {
                  background-color: #E73420; 
                  color: #FFF;
               }
            }
         }

         .row-fluid .lfr-install-more a {
            color: #FFF;
         }
      }


      /* -------- Extras -------- */

      .btn.btn-primary{
         @include background-image(linear-gradient(to bottom, #EB5647, #CE2816));
      }

      #banner .sort-pages.modify-pages ul li ul.child-menu {
         @include transition(opacity .25s ease-in);

         li {
            @include border-radius(2px);

            a {
               @include border-radius(2px);
            }     
         }
      }

      .collapse.nav-collapse ul.nav.nav-add-controls li a {
         @include border-radius(5px); 
      }

      nav#navigation ul li.selected {
         @include border-radius(2px); 
      }

      .nav li .dropdown .open .active, .nav li .dropdown .open .dropdown-toggle, .nav li .dropdown .active {
         @include border-radius(2px); 
      }
      
      .portlet-boundary.portlet-boundary_145_.portlet-static.portlet-static-end.portlet-dockbar {
         .navbar.navbar-static-top.dockbar {
            .navbar-inner {
               @include box-shadow(none);
            }
            
            li a {
               @include text-shadow(none);
               @include box-shadow(none);
            }
         }
      }
   }
} 