@import "compass";
@import url(http://fonts.googleapis.com/css?family=Roboto:300italic,400,400italic,500,700);
.aui {

	a {
		color:#444;

		&:hover {
			color: #632E9B;
			text-decoration: none;
		}
	}

	.asset-more a {
		border: 1px solid #EAEAEA;
		border-radius: 4px;
		color: #555;
		padding: 4px 10px;
		margin-top: 1em;

		&:hover {
			border: 1px solid #632E9B;
			border-radius: 4px;
			color: #632E9B;
			padding: 4px 10px;
			text-decoration: none;
		}
	}


	body {
		color:#444;
		font-family:"Roboto", sans-serif; 
		font-size:16px;
		font-weight:100;
		line-height:24px;
		
		.lfr-add-panel,
		.lfr-admin-panel,
		 {
			z-index: 99999999999;
		}

	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}

	p {
		color: #444;
		font-family:"Roboto";
		font-size: 16px;
		font-style: normal;
		line-height: 1.5;
		margin-bottom: 1.5em;
	}

	/* ---------- Dockbar ---------- */

	.dockbar{
		z-index: 99999;
		
		.navbar-inner {
			padding: 0;
		}

		.user-avatar-image{
			height: 18px;
			width: 18px;
		}
	}

	.dockbar.navbar-static-top {
      position: fixed;
    }

	/* -------- Wrapper -------- */

	#wrapper{ 
		padding:0;
	}


	/* -------- Heading -------- */

	#banner{
		font-family: "Roboto", sans-serif;

		#myToggler {


			.header1 {
				border-left: 1px solid #E1E4E6;				
				background-image: url(http://cdn.www.liferay.com/osb-community-theme/images/custom/search_icons.png);
				height:50px;
				overflow:hidden;
				position: fixed;
				right: 0;
				width:45px;
				z-index: 111;
			}

			.content1 {
				background-color: #632E9B;
				padding: 10px 20px 0px;
				position: fixed;
				right: -1em;
				top: 6em;

				form {
					margin: 0;

					input:nth-child(9) {
						display: none;
					}
				}

				select {
					display: none;
				}
			}

		}


		h1 {
			font-size: 36px;
		}

		.icon-caret-down {
			display: none;
		}

		.navbar{
			background-color: #FFFFFF;
			border-bottom: 1px solid #E1E4E6;
			font-family:"Roboto", sans-serif;
			font-size:18px;
			height: 51px;
			line-height: 63px;
			margin-bottom: 0;
			opacity: 0.9;
			position: fixed;
			right: 0;
			top: 41px;
			width: 100%;
			
			.dropdown-menu {
				border:none;
				border-radius: 0;
				margin:0;
				padding: 0;
			}

			.dropdown-menu > li > a:hover {
				background-color:#632E9B;
				background-image: none;
				color: #FFFFFF;
				text-decoration: none;
			}

			.dropdown-menu:before, 
			.dropdown-menu:after {
				border:0;
				border:	none;
				content: none;
			}

			.dropdown-menu li {
				border:0;
				width: 250px;
				
				a {
					display: table-cell;
					vertical-align: middle;
				}
			}

			.nav {
				float: right;
				font-family:"Roboto", sans-serif;
			}

			.nav > .active > a{
				background-color:#632E9B;
				box-shadow: none;
				color:	#FFFFFF;
				text-shadow: none;				
				-webkit-box-shadow: none;
			}

			.navbar-inner {		
				background-color: #FFFFFF;
				background-image: none;
				border: none;
				box-shadow:	none;
				padding: 0;

				.nav {
					margin-right: 45px;
				}
			}

			.nav li {
				border-left: 1px solid #E1E4E6;
				height: 51px;
			}

			.nav li a {
				height: 51px;
				padding-top: 0;
				padding-bottom:	0;
			}

			.nav li a span{
				position: relative;
				top: 15px;
			}

			.nav > li > .dropdown-menu:before {
				display: none;
			}

			.nav li:hover,
			.nav li:hover > a {
				background-color:#632E9B;
				color: #FFFFFF;
				text-shadow:none;
			}
		}
	}

	.page-title {
		background-position: center;
		height:auto;
		margin: 0;
		span{display:none};

	}

	.site-title {
		margin: 0;
		max-width: 66%;
		opacity: 0.9;
		position: fixed;		
		top: 42px;
		z-index: 222;
	}

	/* -------- Content -------- */

	#content {
		background-color: #EAEAEA;
		padding-top: 50px;

		.asset-content {
			margin:0;
		}

		#breadcrumbs {
			display: none;
		}

		#main-content {
			max-width: 1218px;
			margin: auto; 
			width: 100%;
			padding-top: 2em;

			#column-1 {
				clear: both;
				margin: auto;
				
				.asset-abstract {
					display:block;
					float: left;
					margin-right:1%;
					text-align: center;
					vertical-align: top;				
					width: 27%;
				}

				.portlet-body{

					div:nth-child(4) {
						margin-right: 0;
					}
				}


				.asset-more {
					margin-top: 8px;

					a {
						border: 1px solid #EAEAEA;
						border-radius: 4px;
						color: #555;
						font-size: 1.4rem;
						padding: 4px 10px;
					}

					a:hover {
						border: 1px solid #632E9B;
						color: #632E9B;
					}
				}
			}

			#column-5 {
				width: 69%
			}

			#column-6 {
				width: 28%;
				float:left;
			}

			.row-fluid {
				max-width: 96%;
				margin:auto;
			}

			.row-fluid:nth-child(2) {
				text-align: center;
			}
		}

		.taglib-social-bookmarks {
			display: none;
		}

		.taglib-header {
			border: none;
			margin:0;

			h3 {
				font-size: 2em;
			}
		}
	}

	.portlet-column-content.empty {
		padding:0;
	}

	/* -------- Footer -------- */

	footer {
		text-align: center;
	}

	.lfr-hudcrumbs {
		display: none;
	}


	/* -------- Portlet max -------- */

	.accordion-heading {
		display: none;
	}

	.portlet {
		font-family: "Roboto", sans-serif;
		background-color: #FFFFFF;
		padding:3rem;

		.portlet-topper > .portlet-title > span:nth-child(1) {
			display:none;
		}

		.portlet-title {
			font-size: 24px;
			margin: 0;
			padding: 5px;
			
		}

		.portlet-content {
			padding:0;
			.add-comment {
				span {
						display: none;
					}
				}
			}

			.asset-title {
				border:none;

				a:hover {
					text-decoration:none;
				}
			}
		}

	#portlet_3 {

		select {
			display: none;
		}

		div > div > div > form > input:nth-child(11) {
			display: none;
		}
	}



	.portlet-boundary {
		margin-bottom: 3rem;
	}
}
	